.modal{
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   background: rgb(155, 155, 155);
   display: flex;
   align-items: center;
   justify-content: center;
   pointer-events: none;
   opacity: 0;
   transition: all ease-in-out 0.5s;
   
   
}
.modal.active{
   opacity: 1;
   pointer-events: all;
}
.modal_content{
   background-color: rgb(255, 255, 255);
   transform: scale(0.3);
   transition: all ease-in-out 0.5s;
   padding: 30px 10px;
   border-radius: 10px;

}
.modal_content.active{
 transform: scale(1);
}
.modal_title{
   text-align: center;
   border-bottom: 2px solid black;


}
.grids_wrapper{
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 20px 0;
   display: flex;
   align-items: center;
   justify-content: space-around;
  
   
}
.grids{
   text-align: center;
   border-radius: 10px;
   width: 250px;
   height: 400px;
   margin: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(223, 219, 219);

}